name: learn-github-actions
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      # You may pin to the exact commit or the version.
      # uses: emibcn/badge-action@2f70f25eed9a1b71ffb09535523b460cc8c16d04
      - uses: emibcn/badge-action@v1
        with:
          label: 'Test coverage'
          status: '53.4%'
          color: 'blue,555,daf'
          path: '.github/badges/coverage.svg'
      - run: npm install -g bats
      - run: bats -v

          
